* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1.5rem 0 1rem;
  background-color: #F5F5F5;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.topnav .logo {
  padding-left: 5rem;
}
.topnav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding-right: 1rem;
}
.topnav ul li {
  width: 10rem;
  height: 2rem;
  text-align: center;
}
.topnav .menu-item {
  color: #000;
  text-align: center;
  text-decoration: none;
}
.topnav .menu-item:hover {
  color: #5330C1;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 769px) {
  .topnav {
    flex-direction: column;
    height: 1rem;
  }
  .topnav .logo {
    padding-left: 1rem;
    width: 20%;
  }
  .topnav .logo img {
    width: 100%;
  }
  .topnav ul {
    flex-direction: column;
    align-items: baseline;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .topnav ul li {
    height: 1.5rem;
  }
  .topnav ul li a {
    display: none;
  }
  .topnav .icon {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
  }
}

.responsive {
  height: 5rem;
}
.responsive ul li a {
  display: block !important;
  text-align: left !important;
  font-size: 12px;
}

footer {
  padding: 1.5rem 0;
  background-color: #302F2F;
}
footer .dots-img {
  margin-left: 5rem;
}
footer div {
  position: relative;
  top: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem 0 5rem;
}
footer div h3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 600;
}
footer div h3 span {
  color: #5330C1;
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
}
footer div .social-logos a {
  text-decoration: none;
  color: #fff;
  margin-right: 1rem;
}
footer div .social-logos p {
  color: #fff;
  margin-right: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  footer div .social-logos-mobile {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .dots-img {
    width: 2.5rem;
    margin-left: 0;
  }
  footer div {
    flex-direction: row;
    margin-left: 1rem;
  }
  footer div h3 {
    font-size: 18px;
    line-height: 3rem;
  }
  footer div h3 span {
    font-size: 20px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .social-logos {
    display: none;
  }
  footer .social-logos-mobile a {
    text-decoration: none;
    color: #fff;
    margin-right: 1rem;
  }
  footer .social-logos-mobile p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
}

#main {
  padding-top: 4rem;
  height: 85vh;
}
#main .claim video {
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 4rem;
  left: 0;
}
#main .claim .heading {
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  font-weight: 600;
  position: relative;
  margin-left: 5rem;
  margin-top: 5rem;
}
#main .claim .heading #changing-word {
  color: #5330C1;
  font-family: "Montserrat", sans-serif;
  font-size: 10vw;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
}
#main .claim .heading #changing-word span {
  position: absolute;
  top: 4vw;
  left: 0;
  overflow: hidden;
  animation: fade 10s linear infinite;
  opacity: 0;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  2% {
    opacity: 1;
    transform: translateY(0px);
  }
  18% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
#main .claim .heading #changing-word span:nth-child(1) {
  animation-delay: 0;
}
#main .claim .heading #changing-word span:nth-child(2) {
  animation-delay: 2s;
}
#main .claim .heading #changing-word span:nth-child(3) {
  animation-delay: 4s;
}
#main .claim .heading #changing-word span:nth-child(4) {
  animation-delay: 6s;
}
#main .claim .heading #changing-word span:nth-child(5) {
  animation-delay: 8s;
}
#main .dots-img {
  margin-top: 20vh;
  margin-left: 5rem;
}
#main p {
  width: 35%;
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 300;
  margin-top: 2rem;
  margin-left: 5rem;
}
#main i {
  position: absolute;
  right: 10px;
  top: 100px;
  cursor: pointer;
}
@media screen and (max-width: 769px) {
  #main {
    background-color: #EEEDED;
    height: 60vh;
  }
  #main .claim video {
    display: none;
  }
  #main .claim .heading {
    font-size: 6vw;
    margin-left: 1rem;
  }
  #main .claim .heading #changing-word {
    font-size: 12vw;
  }
  @keyframes fade {
    0% {
      opacity: 0;
      transform: translateY(-16px);
    }
    2% {
      opacity: 1;
      transform: translateY(0px);
    }
    18% {
      opacity: 1;
      transform: translateY(0px);
    }
    20% {
      opacity: 0;
      transform: translateY(16px);
    }
    100% {
      opacity: 0;
      transform: translateY(16px);
    }
  }
  #main .dots-img {
    width: 2.5rem;
    margin-top: 5rem;
    margin-left: 1rem;
  }
  #main p {
    font-size: 1.2rem;
    width: 85%;
    margin-left: 1rem;
  }
}

#portfolio {
  height: 3100px;
  background-color: #2F2C2C;
  perspective: 1000px;
  overflow: hidden;
}
#portfolio .grid-container {
  display: flex;
  justify-content: center;
}
#portfolio .grid-container .column {
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  width: 33.33%;
}
#portfolio .grid-container .column img {
  margin: 0.5rem 0.5rem;
}
#portfolio .grid-container .column video {
  width: 97.5%;
  margin: 0.5rem 0.5rem;
}
@media screen and (max-width: 769px) {
  #portfolio {
    height: 650px;
  }
  #portfolio .grid-container .column img {
    width: 95%;
    margin: 0.125rem 0.125rem;
  }
  #portfolio .grid-container .column video {
    width: 95% !important;
    margin: 0.125rem 0.125rem;
  }
}
#quienesSomos {
  padding: 6rem 0;
  background-image: url("/Multimedia/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#quienesSomos .quote1 {
  margin-left: 5rem;
  margin-bottom: 2.5rem;
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 4.5vw;
  font-weight: 600;
  width: 65%;
}
#quienesSomos .quote1 span {
  color: #5330C1;
}
#quienesSomos div {
  position: relative;
  text-align: right;
  margin-right: 5rem;
}
#quienesSomos div .quote2 {
  position: relative;
  left: 40%;
  width: 60%;
  margin: 2.5rem 0;
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 1.85vw;
  font-weight: 300;
}
#quienesSomos div .btn-conocenos {
  margin-right: 5rem;
}
#quienesSomos div .btn-conocenos img {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
@media screen and (max-width: 769px) {
  #quienesSomos .quote1 {
    margin-left: 1rem;
    font-size: 2rem;
    width: 70%;
  }
  #quienesSomos div {
    margin-right: 1rem;
  }
  #quienesSomos div .dots-img {
    width: 2.5rem;
  }
  #quienesSomos div .quote2 {
    width: 65%;
    left: 35%;
    font-size: 1rem;
  }
}

#queHacemos {
  padding: 6rem 0 4rem 0;
  background-color: #121112;
}
#queHacemos h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 4.25vw;
  font-weight: 700;
  margin-bottom: 10rem;
  padding-left: 15rem;
}
#queHacemos h2 span {
  position: relative;
  left: 30vw;
  line-height: 10px;
  font-size: 5.85vw;
  font-weight: 700;
}
#queHacemos h2 .span1 {
  color: #5330C1;
}
#queHacemos .card-container {
  padding-left: 15vw;
  margin-top: 5rem;
  position: relative;
  display: flex;
}
#queHacemos .card-container .image-container {
  margin-right: 2rem;
}
#queHacemos .card-container .image-container .background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 500px;
  border: 1px solid #6243C3;
  background: #6243C3;
  position: relative;
  z-index: 1;
}
#queHacemos .card-container .text-container h3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
#queHacemos .card-container .text-container .group {
  display: flex;
  margin-top: 1rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
#queHacemos .card-container .text-container .group .categories-title {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 3.25rem;
  margin-right: 1rem;
  padding: 0 0.5rem;
}
#queHacemos .card-container .text-container .service-description {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 70%;
  text-align: justify;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
}
#queHacemos .card-container .text-container .Btn-verMas img {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
@media screen and (max-width: 769px) {
  #queHacemos h2 {
    padding-left: 0;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  #queHacemos h2 span {
    left: 10vw;
    font-size: 2rem;
  }
  #queHacemos .card-container {
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }
  #queHacemos .card-container .image-container {
    margin-right: 0;
  }
  #queHacemos .card-container .image-container .background {
    width: 150px;
    height: 150px;
  }
  #queHacemos .card-container .image-container .background img {
    width: 60%;
  }
  #queHacemos .card-container .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  #queHacemos .card-container .text-container h3 {
    font-size: 1.5rem;
  }
  #queHacemos .card-container .text-container .group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
  }
  #queHacemos .card-container .text-container .group .categories-title {
    width: 100px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-transform: capitalize;
    margin: 0 0rem;
    padding: 0 0.25rem;
  }
  #queHacemos .card-container .text-container .group1 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 0fr;
  }
  #queHacemos .card-container .text-container .service-description {
    font-size: 12px;
    margin-top: 1rem;
    width: 80%;
    text-align: center;
  }
}

#stakeholders {
  padding: 6rem 0 4rem 0;
  background-image: url("/Multimedia/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#stakeholders h2 {
  margin-left: 5rem;
  margin-bottom: 2.5rem;
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
}
#stakeholders h2 span {
  color: #5330C1;
}
#stakeholders .slider-container-quotes {
  margin-top: 2rem;
  margin-left: 5rem;
}
#stakeholders .slider-container-quotes .quote {
  width: 70vw;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#stakeholders .slider-container-quotes .quote p {
  width: 80%;
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: justify;
}
#stakeholders .slider-container-quotes .quote p span {
  font-weight: 500;
}
#stakeholders .btn-conocenos {
  position: absolute;
  right: 10rem;
}
#stakeholders .btn-conocenos img {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
#stakeholders .logos {
  margin-top: 10rem;
  overflow: hidden;
  white-space: nowrap;
}
#stakeholders .logos .logo-slide {
  display: inline-block;
  animation: 60s slide infinite linear;
}
#stakeholders .logos .logo-slide .logo-background {
  display: inline-block;
  width: 200px;
  height: 100px;
  background-color: white;
  text-align: center;
  margin: 0 10px;
}
#stakeholders .logos .logo-slide .logo-background img {
  height: 100px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#stakeholders .logos .logo-slide2 {
  display: inline-block;
  animation: 60s slide2 infinite linear;
}
#stakeholders .logos .logo-slide2 .logo-background {
  display: inline-block;
  width: 200px;
  height: 100px;
  background-color: white;
  text-align: center;
  margin: 0 10px;
}
#stakeholders .logos .logo-slide2 .logo-background img {
  height: 100px;
}
@keyframes slide2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
#stakeholders .logos2 {
  margin-top: 2rem;
}
@media screen and (max-width: 769px) {
  #stakeholders h2 {
    margin-left: 1rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  #stakeholders .slider-container-quotes {
    margin-left: 1rem;
  }
  #stakeholders .slider-container-quotes .quote {
    width: 90%;
  }
  #stakeholders .slider-container-quotes .quote p {
    font-size: 12px;
  }
  #stakeholders .btn-conocenos {
    right: 5rem;
  }
  #stakeholders .logos {
    margin-top: 2rem;
  }
  #stakeholders .logos .logo-background {
    width: 100px !important;
    height: 50px !important;
  }
  #stakeholders .logos .logo-background img {
    height: 50px !important;
  }
  #stakeholders .logos1 {
    margin-top: 6rem;
  }
}

#nosotros {
  padding-top: 8rem;
  background-color: #000;
  width: 100%;
}
@media screen and (max-width: 769px) {
  #nosotros {
    padding-top: 4rem;
  }
}
#nosotros .claim {
  padding-bottom: 8rem;
}
#nosotros .claim h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-left: 5rem;
  line-height: 80px;
}
#nosotros .claim h2 span {
  color: #5330C1;
  font-size: 90px;
  font-weight: 900;
}
@media screen and (max-width: 769px) {
  #nosotros .claim {
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 769px) and (max-width: 769px) {
  #nosotros .claim h2 {
    font-size: 1.5rem;
    margin-left: 1rem;
    line-height: 1.5rem;
  }
  #nosotros .claim h2 span {
    font-size: 2rem;
  }
}
#nosotros .chart-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}
@media screen and (max-width: 769px) {
  #nosotros .chart-container {
    display: none;
  }
}
#nosotros .chart-container-mobile {
  margin: 0 1rem;
  padding-bottom: 1rem;
}
#nosotros .chart-container-mobile img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #nosotros .chart-container-mobile {
    display: none;
  }
}
#nosotros .story {
  background-image: url("/Multimedia/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
#nosotros .story p {
  padding: 4rem 0;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
@media screen and (max-width: 769px) {
  #nosotros .story p {
    padding: 3rem 0;
    font-size: 16px;
    margin: 0 1rem;
  }
}
#nosotros #marcas {
  padding: 5rem 0 2rem 0;
  background-color: #E6E6E6;
}
#nosotros #marcas h2 {
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-bottom: 0px;
  margin-left: 5rem;
}
#nosotros #marcas h2 span {
  color: #5330C1;
}
#nosotros #marcas .logos {
  margin-top: 5rem;
  overflow: hidden;
  white-space: nowrap;
}
#nosotros #marcas .logos .logo-slide {
  display: inline-block;
  animation: 60s slide infinite linear;
}
#nosotros #marcas .logos .logo-slide .logo-background {
  display: inline-block;
  width: 200px;
  height: 100px;
  background-color: white;
  text-align: center;
  margin: 0 10px;
}
#nosotros #marcas .logos .logo-slide .logo-background img {
  height: 100px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#nosotros #marcas .logos .logo-slide2 {
  display: inline-block;
  animation: 60s slide2 infinite linear;
}
#nosotros #marcas .logos .logo-slide2 .logo-background {
  display: inline-block;
  width: 200px;
  height: 100px;
  background-color: white;
  text-align: center;
  margin: 0 10px;
}
#nosotros #marcas .logos .logo-slide2 .logo-background img {
  height: 100px;
}
@keyframes slide2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
#nosotros #marcas .logos2 {
  margin-top: 2rem;
}
@media screen and (max-width: 769px) {
  #nosotros #marcas {
    padding: 2rem 0 1rem 0;
  }
  #nosotros #marcas h2 {
    font-size: 18px;
    margin-left: 1rem;
  }
  #nosotros #marcas .logos {
    margin-top: 2rem;
  }
  #nosotros #marcas .logos .logo-background {
    width: 100px !important;
    height: 50px !important;
  }
  #nosotros #marcas .logos .logo-background img {
    height: 50px !important;
  }
}

#servicios {
  padding: 8rem 0 4rem 0;
  background-color: #F5F5F5;
}
#servicios .claim {
  margin-left: 5rem;
  margin-bottom: 10rem;
}
#servicios .claim h2 {
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
  line-height: 80px;
}
#servicios .claim h2 span {
  color: #5330C1;
  font-size: 90px;
  font-weight: 900;
}
#servicios .claim p {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  margin-top: 1rem;
  width: 60%;
}
#servicios .claim p span {
  font-weight: 900;
}
#servicios .card-container {
  padding-left: 15vw;
  margin-top: 5rem;
  position: relative;
  display: flex;
}
#servicios .card-container .image-container {
  margin-right: 2rem;
}
#servicios .card-container .image-container .background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 500px;
  border: 1px solid #6243C3;
  background: #6243C3;
  position: relative;
  z-index: 1;
}
#servicios .card-container .text-container h3 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
#servicios .card-container .text-container .group {
  display: flex;
  margin-top: 1rem;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
#servicios .card-container .text-container .group .categories-title {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #000;
  text-align: center;
  line-height: 3.25rem;
  margin-right: 1rem;
  padding: 0 0.5rem;
}
#servicios .card-container .text-container .service-description {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 70%;
  text-align: justify;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
}
#servicios .card-container .text-container .Btn-verMas img {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
@media screen and (max-width: 769px) {
  #servicios {
    padding-top: 4rem;
  }
  #servicios .claim {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  #servicios .claim h2 {
    padding-left: 0;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  #servicios .claim h2 span {
    font-size: 2rem;
  }
  #servicios .claim p {
    font-size: 12px;
    width: 95%;
  }
  #servicios .card-container {
    margin-top: 3rem;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }
  #servicios .card-container .image-container {
    margin-right: 0;
  }
  #servicios .card-container .image-container .background {
    width: 150px;
    height: 150px;
  }
  #servicios .card-container .image-container .background img {
    width: 60%;
  }
  #servicios .card-container .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  #servicios .card-container .text-container h3 {
    font-size: 1.5rem;
  }
  #servicios .card-container .text-container .group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
  }
  #servicios .card-container .text-container .group .categories-title {
    width: 100px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-transform: capitalize;
    margin: 0 0rem;
    padding: 0 0.25rem;
  }
  #servicios .card-container .text-container .group1 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 0fr;
  }
  #servicios .card-container .text-container .service-description {
    font-size: 12px;
    margin-top: 1rem;
    width: 80%;
    text-align: center;
  }
}

#activaciones {
  padding-top: 8rem;
  background-color: #F5F5F5;
}
#activaciones .headline {
  margin-left: 5rem;
}
#activaciones .headline h2 {
  color: #5330C1;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-weight: 900;
  text-transform: uppercase;
}
#activaciones .headline p {
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 50%;
}
#activaciones .categories-container {
  margin-top: 5rem;
  margin-left: 5rem;
}
#activaciones .categories-container .categories .categories-title {
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 195px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #000;
  text-align: center;
  line-height: 3.25rem;
  margin-right: 1rem;
}
#activaciones .categories-container .categories .categories-images-container {
  width: 80%;
  display: flex;
  margin-top: 1rem;
  padding-bottom: 5rem;
  overflow: hidden;
}
#activaciones .categories-container .categories .categories-images-container .categories-cards {
  position: relative;
  height: 300px;
  width: 0px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.8 ease;
  filter: grayscale(100%);
}
#activaciones .categories-container .categories .categories-images-container .categories-cards:hover {
  width: 345px;
  filter: grayscale(0%);
}
#activaciones .categories-container .categories .categories-images-container .categories-cards:hover span {
  opacity: 1;
}
#activaciones .categories-container .categories .categories-images-container .categories-cards img {
  height: 100%;
}
#activaciones .categories-container .categories .categories-images-container .categories-cards span {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  background: #FFF;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.75rem;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
}
#activaciones .categories-container .categories .categories-images-container .card2:hover {
  width: 280px;
  filter: grayscale(0%);
}
#activaciones .categories-container .categories .categories-images-container-mobile {
  display: none;
}
@media screen and (max-width: 769px) {
  #activaciones {
    padding-top: 4rem;
  }
  #activaciones .headline {
    margin-left: 1rem;
  }
  #activaciones .headline h2 {
    font-size: 2rem;
  }
  #activaciones .headline p {
    font-size: 14px;
    margin-top: 1rem;
    width: 90%;
  }
  #activaciones .categories-container {
    margin-top: 2rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #activaciones .categories-container .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #activaciones .categories-container .categories .categories-title {
    font-size: 14px;
    width: auto;
    padding: 0 1rem;
    height: 30px;
    line-height: 30px;
    position: relative;
    right: 45%;
    transform: translateX(50%);
  }
  #activaciones .categories-container .categories .categories-images-container {
    display: none;
  }
  #activaciones .categories-container .categories .categories-images-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 1.5rem 0rem;
    width: 90%;
  }
  #activaciones .categories-container .categories .categories-images-container-mobile .splide {
    width: 100%;
  }
  #activaciones .categories-container .categories .categories-images-container-mobile .splide .splide__slider {
    width: 100%;
  }
  #activaciones .categories-container .categories .categories-images-container-mobile .splide .splide__slider .categories-cards {
    text-align: center;
  }
  #activaciones .categories-container .categories .categories-images-container-mobile .splide .splide__slider .categories-cards img {
    width: 100%;
  }
  #activaciones .categories-container .categories .categories-images-container-mobile .splide .splide__slider .categories-cards span {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    background: #FFF;
    text-align: center;
    padding: 0.5rem 0.75rem;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    bottom: 3rem;
  }
}

#eventos {
  padding-top: 8rem;
  background-color: #F5F5F5;
}
#eventos .headline {
  margin-left: 5rem;
}
#eventos .headline h2 {
  color: #5330C1;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-weight: 900;
  text-transform: uppercase;
}
#eventos .headline p {
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 50%;
}
#eventos .categories-container {
  margin-top: 5rem;
  margin-left: 5rem;
}
#eventos .categories-container .categories .categories-title {
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 195px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #000;
  text-align: center;
  line-height: 3.25rem;
  margin-right: 1rem;
}
#eventos .categories-container .categories .categories-images-container {
  width: 80%;
  display: flex;
  margin-top: 1rem;
  padding-bottom: 5rem;
  overflow: hidden;
}
#eventos .categories-container .categories .categories-images-container .categories-cards {
  position: relative;
  height: 300px;
  width: 0px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.8 ease;
  filter: grayscale(100%);
}
#eventos .categories-container .categories .categories-images-container .categories-cards:hover {
  width: 345px;
  filter: grayscale(0%);
}
#eventos .categories-container .categories .categories-images-container .categories-cards:hover span {
  opacity: 1;
}
#eventos .categories-container .categories .categories-images-container .categories-cards img {
  height: 100%;
}
#eventos .categories-container .categories .categories-images-container .categories-cards span {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  background: #FFF;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.75rem;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
}
#eventos .categories-container .categories .categories-images-container .cards2:hover {
  width: 330px;
  filter: grayscale(0%);
}
#eventos .categories-container .categories .categories-images-container .cards3:hover {
  width: 220px;
  filter: grayscale(0%);
}
#eventos .categories-container .categories .categories-images-container-mobile {
  display: none;
}
@media screen and (max-width: 769px) {
  #eventos {
    padding-top: 4rem;
  }
  #eventos .headline {
    margin-left: 1rem;
  }
  #eventos .headline h2 {
    font-size: 2rem;
  }
  #eventos .headline p {
    font-size: 14px;
    margin-top: 1rem;
    width: 90%;
  }
  #eventos .categories-container {
    margin-top: 2rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #eventos .categories-container .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #eventos .categories-container .categories .categories-title {
    font-size: 14px;
    width: auto;
    padding: 0 1rem;
    height: 30px;
    line-height: 30px;
    position: relative;
    right: 45%;
    transform: translateX(50%);
  }
  #eventos .categories-container .categories .categories-images-container {
    display: none;
  }
  #eventos .categories-container .categories .categories-images-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 1.5rem 0rem;
    width: 90%;
  }
  #eventos .categories-container .categories .categories-images-container-mobile .splide {
    width: 100%;
  }
  #eventos .categories-container .categories .categories-images-container-mobile .splide .splide__slider {
    width: 100%;
  }
  #eventos .categories-container .categories .categories-images-container-mobile .splide .splide__slider .categories-cards {
    text-align: center;
  }
  #eventos .categories-container .categories .categories-images-container-mobile .splide .splide__slider .categories-cards img {
    width: 100%;
  }
  #eventos .categories-container .categories .categories-images-container-mobile .splide .splide__slider .categories-cards span {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    background: #FFF;
    text-align: center;
    padding: 0.5rem 0.75rem;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    bottom: 3rem;
  }
}

#creatividad {
  padding-top: 8rem;
  background-color: #F5F5F5;
}
#creatividad .headline {
  margin-left: 5rem;
}
#creatividad .headline h2 {
  color: #5330C1;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-weight: 900;
  text-transform: uppercase;
}
#creatividad .headline p {
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 50%;
}
#creatividad .categories-container {
  margin-top: 5rem;
  margin-left: 5rem;
}
#creatividad .categories-container .categories .categories-title {
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 195px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #000;
  text-align: center;
  line-height: 3.25rem;
  margin-right: 1rem;
}
#creatividad .categories-container .categories .categories-images-container {
  width: 80%;
  display: flex;
  margin-top: 1rem;
  padding-bottom: 5rem;
  overflow: hidden;
}
#creatividad .categories-container .categories .categories-images-container .categories-cards {
  position: relative;
  height: 300px;
  width: 0px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.8 ease;
  filter: grayscale(100%);
}
#creatividad .categories-container .categories .categories-images-container .categories-cards:hover {
  width: 340px;
  filter: grayscale(0%);
}
#creatividad .categories-container .categories .categories-images-container .categories-cards:hover span {
  opacity: 1;
}
#creatividad .categories-container .categories .categories-images-container .categories-cards img {
  height: 100%;
}
#creatividad .categories-container .categories .categories-images-container .categories-cards span {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  background: #FFF;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.75rem;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
}
#creatividad .categories-container .categories .categories-images-container .cards2:hover {
  width: 320px;
  filter: grayscale(0%);
}
#creatividad .categories-container .categories .categories-videos-container {
  width: 90%;
  display: flex;
  margin-top: 1rem;
  padding-bottom: 5rem;
  overflow: hidden;
}
#creatividad .categories-container .categories .categories-videos-container .categories-cards {
  position: relative;
  height: 300px;
  transition: 0.8 ease;
  filter: grayscale(100%);
}
#creatividad .categories-container .categories .categories-videos-container .categories-cards:hover {
  width: 200px;
  filter: grayscale(0%);
}
#creatividad .categories-container .categories .categories-videos-container .categories-cards:hover span {
  opacity: 1;
}
#creatividad .categories-container .categories .categories-videos-container .categories-cards video {
  height: 100%;
  margin: 0 0.125rem;
}
#creatividad .categories-container .categories .categories-videos-container .categories-cards span {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  background: #FFF;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.75rem;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
}
#creatividad .categories-container .categories .categories-images-container-mobile {
  display: none;
}
#creatividad .categories-container .categories .categories-videos-container-mobile {
  display: none;
}
@media screen and (max-width: 769px) {
  #creatividad {
    padding-top: 4rem;
  }
  #creatividad .headline {
    margin-left: 1rem;
  }
  #creatividad .headline h2 {
    font-size: 2rem;
  }
  #creatividad .headline p {
    font-size: 14px;
    margin-top: 1rem;
    width: 90%;
  }
  #creatividad .categories-container {
    margin-top: 2rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #creatividad .categories-container .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #creatividad .categories-container .categories .categories-title {
    font-size: 14px;
    width: auto;
    padding: 0 1rem;
    height: 30px;
    line-height: 30px;
    position: relative;
    right: 45%;
    transform: translateX(50%);
  }
  #creatividad .categories-container .categories .categories-images-container {
    display: none;
  }
  #creatividad .categories-container .categories .categories-videos-container {
    display: none;
  }
  #creatividad .categories-container .categories .categories-images-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 1.5rem 0rem;
    width: 90%;
  }
  #creatividad .categories-container .categories .categories-images-container-mobile .splide {
    width: 100%;
  }
  #creatividad .categories-container .categories .categories-images-container-mobile .splide .splide__slider {
    width: 100%;
  }
  #creatividad .categories-container .categories .categories-images-container-mobile .splide .splide__slider .categories-cards {
    text-align: center;
  }
  #creatividad .categories-container .categories .categories-images-container-mobile .splide .splide__slider .categories-cards img {
    width: 100%;
  }
  #creatividad .categories-container .categories .categories-images-container-mobile .splide .splide__slider .categories-cards span {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    background: #FFF;
    text-align: center;
    padding: 0.5rem 0.75rem;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    bottom: 3rem;
  }
  #creatividad .categories-container .categories .categories-videos-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 1.5rem 0rem;
    width: 90%;
  }
  #creatividad .categories-container .categories .categories-videos-container-mobile .splide {
    width: 100%;
  }
  #creatividad .categories-container .categories .categories-videos-container-mobile .splide .splide__slider {
    width: 100%;
  }
  #creatividad .categories-container .categories .categories-videos-container-mobile .splide .splide__slider .categories-cards {
    text-align: center;
  }
  #creatividad .categories-container .categories .categories-videos-container-mobile .splide .splide__slider .categories-cards video {
    width: 100%;
  }
  #creatividad .categories-container .categories .categories-videos-container-mobile .splide .splide__slider .categories-cards span {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    background: #FFF;
    text-align: center;
    padding: 0.5rem 0.75rem;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    bottom: 4rem;
  }
}

#digital {
  padding-top: 8rem;
  background-color: #F5F5F5;
}
#digital .headline {
  margin-left: 5rem;
}
#digital .headline h2 {
  color: #5330C1;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-weight: 900;
  text-transform: uppercase;
}
#digital .headline p {
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 50%;
}
#digital .categories-container {
  margin-top: 5rem;
  margin-left: 5rem;
}
#digital .categories-container .categories .categories-title {
  color: #302F2F;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 195px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #000;
  text-align: center;
  line-height: 3.25rem;
  margin-right: 1rem;
}
#digital .categories-container .categories .categories-images-container {
  width: 80%;
  display: flex;
  margin-top: 1rem;
  padding-bottom: 5rem;
  overflow: hidden;
}
#digital .categories-container .categories .categories-images-container .categories-cards {
  position: relative;
  height: 300px;
  width: 0px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.8 ease;
  filter: grayscale(100%);
}
#digital .categories-container .categories .categories-images-container .categories-cards:hover {
  width: 50px;
  filter: grayscale(0%);
}
#digital .categories-container .categories .categories-images-container .categories-cards:hover span {
  opacity: 1;
}
#digital .categories-container .categories .categories-images-container .categories-cards img {
  height: 100%;
}
#digital .categories-container .categories .categories-images-container .categories-cards span {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  background: #FFF;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.55rem;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
}
#digital .categories-container .categories .categories-videos-container {
  width: 80%;
  display: flex;
  margin-top: 1rem;
  padding-bottom: 2rem;
  overflow: hidden;
}
#digital .categories-container .categories .categories-videos-container .categories-cards {
  position: relative;
  height: 300px;
  transition: 0.8 ease;
  filter: grayscale(100%);
}
#digital .categories-container .categories .categories-videos-container .categories-cards:hover {
  filter: grayscale(0%);
}
#digital .categories-container .categories .categories-videos-container .categories-cards:hover span {
  opacity: 1;
}
#digital .categories-container .categories .categories-videos-container .categories-cards video {
  height: 100%;
  margin: 0 0.125rem;
}
#digital .categories-container .categories .categories-videos-container .categories-cards span {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  border-radius: 5px;
  background: #FFF;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.75rem;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
}
#digital .categories-container .categories .video2 {
  padding-bottom: 5rem;
}
#digital .categories-container .categories .slider-container-banners {
  margin-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}
#digital .categories-container .categories .slider-container-banners img {
  width: 100%;
}
#digital .categories-container .categories .categories-images-container-mobile {
  display: none;
}
#digital .categories-container .categories .categories-videos-container-mobile {
  display: none;
}
@media screen and (max-width: 769px) {
  #digital {
    padding-top: 4rem;
  }
  #digital .headline {
    margin-left: 1rem;
  }
  #digital .headline h2 {
    font-size: 2rem;
  }
  #digital .headline p {
    font-size: 14px;
    margin-top: 1rem;
    width: 90%;
  }
  #digital .categories-container {
    margin-top: 2rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #digital .categories-container .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #digital .categories-container .categories .categories-title {
    font-size: 14px;
    width: auto;
    padding: 0 1rem;
    height: 30px;
    line-height: 30px;
    position: relative;
    right: 45%;
    transform: translateX(50%);
  }
  #digital .categories-container .categories .categories-images-container {
    display: none;
  }
  #digital .categories-container .categories .categories-videos-container {
    display: none;
  }
  #digital .categories-container .categories .categories-images-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 1.5rem 0rem;
    width: 90%;
  }
  #digital .categories-container .categories .categories-images-container-mobile .splide {
    width: 100%;
  }
  #digital .categories-container .categories .categories-images-container-mobile .splide .splide__slider {
    width: 100%;
  }
  #digital .categories-container .categories .categories-images-container-mobile .splide .splide__slider .categories-cards {
    text-align: center;
  }
  #digital .categories-container .categories .categories-images-container-mobile .splide .splide__slider .categories-cards img {
    width: 100%;
  }
  #digital .categories-container .categories .categories-images-container-mobile .splide .splide__slider .categories-cards span {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    background: #FFF;
    text-align: center;
    padding: 0.5rem 0.75rem;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    bottom: 3rem;
  }
  #digital .categories-container .categories .categories-videos-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 1.5rem 0rem;
    width: 90%;
  }
  #digital .categories-container .categories .categories-videos-container-mobile .splide {
    width: 100%;
  }
  #digital .categories-container .categories .categories-videos-container-mobile .splide .splide__slider {
    width: 100%;
  }
  #digital .categories-container .categories .categories-videos-container-mobile .splide .splide__slider .categories-cards {
    text-align: center;
  }
  #digital .categories-container .categories .categories-videos-container-mobile .splide .splide__slider .categories-cards video {
    width: 100%;
  }
  #digital .categories-container .categories .categories-videos-container-mobile .splide .splide__slider .categories-cards span {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    background: #FFF;
    text-align: center;
    padding: 0.5rem 0.75rem;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    bottom: 4rem;
  }
  #digital .categories-container .categories #slider2 {
    width: 90%;
    margin-left: 1rem;
  }
  #digital .categories-container .categories #slider2 img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */