
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@import "../SCSS/navbar";
@import "../SCSS/footer";
@import "../SCSS/carousel";
@import "../SCSS/home";
@import "../SCSS/nosotros";
@import "../SCSS/servicios";
@import "../SCSS/activaciones";
@import "../SCSS/eventos";
@import "../SCSS/creatividad";
@import "../SCSS/digital";
