footer{
    //display: none;
    padding:4rem 0;
    background-color: #302F2F;  

    .dots-img{
        margin-left: 5rem;
    }

    div{
        position: relative;
        top: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5rem;

        h3{
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-size: 50px;
            font-weight: 600;

            span{
                color: #5330C1;
                font-size: 55px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .social-logos{

            a{
                text-decoration: none;
                color: #fff;
                margin-right: 1rem;
            }

            p{
                color:#fff;
                margin-right: 2rem;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}