#main{
    padding-top: 8rem;
    background-color: #F5F5F5;
    height: 100vh;

    .claim{

        margin-left: 5rem;

        h1{
            color: #302F2F;
            font-family: 'Montserrat', sans-serif;
            font-size: 70px;
            font-weight: 600;
            position: relative;
    
            #changing-word {
                color: #5330C1;
                font-family: 'Montserrat', sans-serif;
                font-size: 150px;
                font-weight: 900;
                text-transform: uppercase;
                display: inline-block;

                span{ 
                    position: absolute;
                    top: 3rem;
                    left: 0;
                    overflow: hidden;
                    animation: fade 10s linear infinite;
                    opacity: 0;
               
                    @keyframes fade {
                        0% {
                        opacity: 0;
                        transform: translateY(-50px);
                        }

                        2% {
                            opacity: 1;
                            transform: translateY(0px);
                        }

                        18% {
                            opacity: 1;
                            transform: translateY(0px);
                        }

                        20% {
                            opacity: 0;
                            transform: translateY(50px);
                        }
                        
                        
                        100% {
                            opacity: 0;
                            transform: translateY(50px);
                        }
                    }  

                    &:nth-child(1){
                        animation-delay: 0;
                    }

                    &:nth-child(2){
                        animation-delay: 2s;
                    }

                    &:nth-child(3){
                        animation-delay: 4s;
                    }

                    &:nth-child(4){
                        animation-delay: 6s;
                    }

                    &:nth-child(5){
                        animation-delay: 8s;
                    }
                }                   
            }        
        }
        
        .dots-img{
            position: relative;
            top: 10rem;
        }

        p{
            position: relative;
            top: 10rem;

            color: #302F2F;
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
    
            margin-top: 2rem;
        }
    } 
}

#portfolio{
    height: 300vh;
    background-color: #F5F5F5;
    perspective: 1000px;
    overflow: hidden;

    .grid-container{
        display: flex;
        justify-content: center;      

        .column{
            display: flex;
            flex-direction: column;
            transform-style: preserve-3d;

            img{
                margin:0.25rem 0.5rem;    
            }
        }
    }
}

#quienesSomos{
    padding-top: 6rem;
    height: calc(100vh - 6rem);
    background-color: #F5F5F5;

    .quote1{
        margin-left: 5rem;
        margin-bottom: 2.5rem;

        color: #302F2F;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 70px;
        font-weight: 600;

        span{
            color: #5330C1;
        }
    }

    div{

        position: absolute;
        right: 10rem;
        text-align: right;

        .quote2{
            margin: 2.5rem 0;
            color: #302F2F;
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 28px;
            font-weight: 300;
        }

        .btn-conocenos{

            img{
                animation: pulse 2s infinite;
                @keyframes pulse {
                    0% {
                        transform: scale(0.95);
                    }
                
                    70% {
                        transform: scale(1);
                    }
                
                    100% {
                        transform: scale(0.95);
                    }
                }   
            }
            
        }
    }
    
}

#queHacemos{
    padding-top: 6rem;
    height: calc(300vh - 6rem);
    background-color: #F5F5F5;

    h2{
        color: #302F2F;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: 500;
        text-transform: uppercase;

        margin-left: 5rem;

        span{
            color: #5330C1;
            font-size: 90px;
            font-weight: 700;
        }
    }

    .card-container{
        margin-left: 5rem;
        margin-top: 5rem;
        position: relative;

        display: flex;

        @media screen and (max-width: 769px) {
            flex-direction: column;
        }

        .image-container{

            margin-right: 2rem;

            .background{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 620px;
                height: 330px;
                border-radius: 40px;
                border: 1px solid #000;
                background: #6243C3;
                position: relative;
                z-index: 1;
            }
        
            .shadow{
                width: 620px;
                height: 330px;
                border-radius: 40px;
                background: #212222;
    
                position: absolute;
                top: 10%;
                left: -1.5%;
            }
        }

        .text-container{

            h3{
                color: #302F2F;
                font-family: 'Montserrat', sans-serif;
                font-size: 50px;
                font-weight: 700;
                text-transform: uppercase;

                @media screen and (max-width: 769px) {
                    margin-top: 6rem;
                }
            }

            .group{
                display: flex;
                margin-top: 1rem;

                color: #302F2F;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;

                .categories-title{
                    width: 195px;
                    height: 50px;
                    border-radius: 20px;
                    border: 2px solid #000;
                    box-shadow: -4px 1px 5px 0px #2C1D58;
                    text-align: center;
                    line-height: 3.25rem;
                    margin-right: 1rem;
                }
            }

            .group2{
                margin-left: 8rem;
            }

            .service-description{
                margin-top: 2rem;
                margin-bottom: 1rem;
                color: #302F2F;
                font-family: 'Montserrat', sans-serif;
                font-size: 24px;
                font-weight: 500;
            }

            .Btn-verMas{
                img{
                    animation: pulse 2s infinite;
                    @keyframes pulse {
                        0% {
                            transform: scale(0.95);
                        }
                    
                        70% {
                            transform: scale(1);
                        }
                    
                        100% {
                            transform: scale(0.95);
                        }
                    }   
                }
            }
        }
    }
}

#stakeholders{
    padding-top: 6rem;
    height: calc(100vh - 6rem);
    background-color: #F5F5F5;  
    
    h2{
        margin-left: 5rem;
        margin-bottom: 2.5rem;

        color: #302F2F;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 70px;
        font-weight: 600;

        span{
            color: #5330C1;
        }
    }

    .dots-img{
        margin-left: 5rem;
    }
 

    p{     
        margin: 2rem 0 3rem 5rem;
        color: #302F2F;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 24px;
        font-weight: 500;
    }

    .btn-conocenos{
        position: absolute;
        right: 10rem;

        img{
            animation: pulse 2s infinite;
            @keyframes pulse {
                0% {
                    transform: scale(0.95);
                }
            
                70% {
                    transform: scale(1);
                }
            
                100% {
                    transform: scale(0.95);
                }
            }   
        }
    }    

    .logos{
        margin-top: 10rem;
        overflow: hidden;
        white-space: nowrap;

        @keyframes slide {
            from{
                transform: translateX(0);
            }
            to{
                transform: translateX(-100%);
            }
        }

        .logo-slide{
            display: inline-block;
            animation: 35s slide infinite linear;
    
            img{
                height: 50px;
                margin: 0 40px;
            }
        }
    }  
}


  