#main{
    padding-top: 4rem;
    height: 85vh;

    .claim{

       video{
            width: 100%;
            z-index: -1;
            position: absolute;
            top: 4rem;
            left: 0;
        }

        h1{
            color: #302F2F;
            font-family: 'Montserrat', sans-serif;
            font-size: 5vw;
            font-weight: 600;
            position: relative;
            margin-left: 5rem;
            margin-top: 5rem;
            
    
            #changing-word {
                color: #5330C1;
                font-family: 'Montserrat', sans-serif;
                font-size: 10vw;
                font-weight: 900;
                text-transform: uppercase;
                display: inline-block;

                span{ 
                    position: absolute;
                    top: 4vw;
                    left: 0;
                    overflow: hidden;
                    animation: fade 10s linear infinite;
                    opacity: 0;
               
                    @keyframes fade {
                        0% {
                        opacity: 0;
                        transform: translateY(-50px);
                        }

                        2% {
                            opacity: 1;
                            transform: translateY(0px);
                        }

                        18% {
                            opacity: 1;
                            transform: translateY(0px);
                        }

                        20% {
                            opacity: 0;
                            transform: translateY(50px);
                        }
                        
                        100% {
                            opacity: 0;
                            transform: translateY(50px);
                        }
                    }  

                    &:nth-child(1){
                        animation-delay: 0;
                    }

                    &:nth-child(2){
                        animation-delay: 2s;
                    }

                    &:nth-child(3){
                        animation-delay: 4s;
                    }

                    &:nth-child(4){
                        animation-delay: 6s;
                    }

                    &:nth-child(5){
                        animation-delay: 8s;
                    }
                }                   
            }        
        }
        
        .dots-img{
            position: relative;
            top: 10rem;
            left: 5rem;
        }

        p{
            position: relative;
            top: 10rem;
            width: 550px;

            color: #302F2F;
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
    
            margin-top: 2rem;
            margin-left: 5rem;
        }

        i{
            position: absolute;
            right: 10px;
            top: 100px;
            cursor: pointer;
        }
    } 

    @media screen and (max-width: 769px) {
        .claim{

            video{
              display: none;

            }

            h1{
                font-size: 6vw ;
                margin-left:1rem;

                #changing-word{
                    font-size:12vw ;

                    span{
                        

                        @keyframes fade {
                            0% {
                            opacity: 0;
                            transform: translateY(-16px);
                            }
    
                            2% {
                                opacity: 1;
                                transform: translateY(0px);
                            }
    
                            18% {
                                opacity: 1;
                                transform: translateY(0px);
                            }
    
                            20% {
                                opacity: 0;
                                transform: translateY(16px);
                            }
                            
                            100% {
                                opacity: 0;
                                transform: translateY(16px);
                            }
                        } 
                    }
                }
            }

            .dots-img{
                width: 2.5rem;
                left:1rem;
            }

            p{
                font-size: 1.5rem;
                width: 85%;
                margin-left:1rem;
            }
        }
    }
}

#portfolio{
    height: 3200px;
    background-color: #2F2C2C;
    perspective: 1000px;
    overflow: hidden;

    .grid-container{
        display: flex;
        justify-content: center;   

        .column{
            display: flex;
            flex-direction: column;
            transform-style: preserve-3d;

            img{
                margin:0.5rem 0.5rem;    
            }

            video{
                width: 97.5%;
                margin:0.5rem 0.5rem; 
            }
        }

        .column2{
            padding-top: 0rem;
        }
    }

    @media screen and (max-width: 769px){
        height: 1150px;
        
        img{
            width: 95%;
            margin:0.125rem 0.125rem;    
        }

        video{
            width: 95% !important;
            margin:0.125rem 0.125rem; 
        }

        .column2{
            padding-top: 0rem !important;
        }
    }
}

#quienesSomos{
    padding: 6rem 0;
    background-image: url("/Multimedia/background.png");
    background-repeat: no-repeat;
    background-size:cover;

    .quote1{
        margin-left: 5rem;
        margin-bottom: 2.5rem;

        color: #302F2F;
        font-family: 'Montserrat', sans-serif;
        font-size: 4.5vw;
        font-weight: 600;

        width: 65%;

        span{
            color: #5330C1;
        }
    }

    div{
        position: relative;
        text-align: right;
        margin-right: 5rem;

        .quote2{
            position: relative;
            left: 40%;
            width: 60%;
            margin: 2.5rem 0;
            color: #302F2F;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.85vw;
            font-weight: 300; 
        }

        .btn-conocenos{
            margin-right: 5rem;

            img{
                animation: pulse 2s infinite;
                @keyframes pulse {
                    0% {
                        transform: scale(0.95);
                    }
                
                    70% {
                        transform: scale(1);
                    }
                
                    100% {
                        transform: scale(0.95);
                    }
                }   
            } 
        }
    }

    @media screen and (max-width: 769px){
        .quote1{
            margin-left: 1rem;
            font-size: 2rem;
        }

        div{
            margin-right: 1rem;

            .dots-img{
                width: 2.5rem;
            }

            .quote2{
                width: 65%;
                left: 35%;
                font-size: 1.2rem;

            }
        }
    }
}

#queHacemos{
    padding: 6rem 0 4rem 0;
    background-color: #121112;

    h2{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 4.25vw;
        font-weight: 700;
        margin-bottom: 10rem;
        
        padding-left: 15rem;
        

        span{
            position: relative;
            left: 390px;
            line-height: 10px;
            font-size: 5.85vw;
            font-weight: 700;
        }

        .span1{
            color: #5330C1;
        }
    }

    .card-container{
        padding-left: 14rem;
        margin-top: 5rem;
        position: relative;

        display: flex;

        @media screen and (max-width: 769px) {
            flex-direction: column;
        }

        .image-container{

            margin-right: 2rem;

            .background{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 250px;
                height: 250px;
                border-radius: 500px;
                border: 1px solid #6243C3;
                background: #6243C3;
                position: relative;
                z-index: 1;
            }
        }

        .text-container{

            h3{
                color: #fff;
                font-family: 'Montserrat', sans-serif;
                font-size: 40px;
                font-weight: 700;
              
                @media screen and (max-width: 769px) {
                    margin-top: 6rem;
                }
            }

            .group{
                display: flex;
                margin-top: 1rem;

                color: #fff;
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;

                .categories-title{
                    width: 150px;
                    height: 50px;
                    border-radius: 20px;
                    border: 2px solid #fff;
                    text-align: center;
                    line-height: 3.25rem;
                    margin-right: 1rem;
                    padding: 0 0.5rem;
                }
            }

            .service-description{
                margin-top: 2rem;
                margin-bottom: 1rem;
                width: 70%;
                text-align: justify;
                color: #fff;
                font-family: 'Montserrat', sans-serif;
                font-size: 22px;
                font-weight: 500;
            }

            .Btn-verMas{
                img{
                    animation: pulse 2s infinite;
                    @keyframes pulse {
                        0% {
                            transform: scale(0.95);
                        }
                    
                        70% {
                            transform: scale(1);
                        }
                    
                        100% {
                            transform: scale(0.95);
                        }
                    }   
                }
            }
        }
    }

    @media screen and (max-width: 769px){
        h2{
            margin-left: 1rem;
        }

    }
}

#stakeholders{
    padding: 6rem 0 4rem 0;
    background-image: url("/Multimedia/background.png");
    background-repeat: no-repeat;
    background-size:cover;

    
    h2{
        margin-left: 5rem;
        margin-bottom: 2.5rem;

        color: #302F2F;
        font-family: 'Montserrat', sans-serif;
        font-size: 70px;
        font-weight: 600;

        span{
            color: #5330C1;
        }
    }

    .slider-container-quotes{
        margin-top: 2rem;
        margin-left: 5rem;
      
        .quote{
            width:70vw;
            color: white;
            text-align: center;
           
            display: flex;
            align-items: center;
            justify-content: center;
    
            p{
                width: 80%;
                color: #302F2F;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                text-align: justify;
    
                span{
                    font-weight: 500;
                }
            }
        }
    }

    .btn-conocenos{
        position: absolute;
        right: 10rem;

        img{
            animation: pulse 2s infinite;
            @keyframes pulse {
                0% {
                    transform: scale(0.95);
                }
            
                70% {
                    transform: scale(1);
                }
            
                100% {
                    transform: scale(0.95);
                }
            }   
        }
    }    

    .logos{
        margin-top: 10rem;
        overflow: hidden;
        white-space: nowrap;

        padding: 2rem 0;
 
        .logo-slide{
            display: inline-block;
            animation: 60s slide infinite linear;

            .logo-background{
                display: inline-block;
                width: 200px;
                height: 100px;
                background-color: #ffff;
                text-align: center;
                margin: 0 10px;

                img{
                    height: 100px;
                }
            } 
        }

        @keyframes slide {
            from{
                transform: translateX(0);
            }
            to{
                transform: translateX(-100%);
            }
        }

        .logo-slide2{
            display: inline-block;
            animation: 60s slide2 infinite linear;
    
            .logo-background{
                display: inline-block;
                width: 200px;
                height: 100px;
                background-color: #ffff;
                text-align: center;
                margin: 0 10px;

                img{
                    height: 100px; 
                }
            }
        }

        @keyframes slide2 {
            from{
                transform: translateX(-100%);
            }
            to{
                transform: translateX(0%);
            }
        }
    } 
    
    .logos2{
        margin-top: 2rem; 
    }
}


  