.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    padding: 1.5rem 0 1rem;

    background-color: #F5F5F5;
    overflow: hidden;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .logo{
        padding-left: 5rem;
    }

    ul{
        display: flex;
        list-style-type: none;
        align-items: center;

        padding-right: 1rem;

        li{
            width: 10rem;
            height: 2rem;
            text-align: center;
        }
    }

    .menu-item{  
        color: #000;
        text-align: center;
        text-decoration: none;

        &:hover{
            color: #5330C1;
        }
    }

    .icon{
        display: none;
    }

    @media screen and (max-width: 769px) {
        
        flex-direction: column;
        height: 1rem;

        .logo{
            padding-left: 1rem;
            width: 20%;
            
            img{
                width: 100%;
            }
        }

        ul{
            flex-direction: column;
            align-items: baseline;
            margin-top: 1rem;
            margin-left: 1rem;

            a{
                display: none;
            }
            
        } 

        .icon {
            display: block;
            position: absolute;
            right: 3rem;
            top:1.5rem;
        }
    }
}

.responsive{
    height: 8rem;
    a{
        display: block !important;
        text-align: left !important;
    }
}

