#nosotros{
    padding-top: 8rem;
    background-color: #000;
    width: 100%;

    @media screen and (max-width: 769px) {
        padding-top: 4rem;
    }
    
    .claim{
        padding-bottom: 8rem;

        h2{
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-size: 70px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 1rem;
            margin-left: 5rem;
            line-height: 80px;

            span{
                color: #5330C1;
                font-size: 90px;
                font-weight: 900;
            }
        }  

        @media screen and (max-width: 769px) {
            padding-bottom: 2rem;

            h2{
                @media screen and (max-width: 769px) {
                    font-size: 1.5rem;
                    margin-left: 1rem;
                    line-height: 1.5rem;
    
                    span{
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .chart-container{
        display: flex;
        justify-content: center;
        padding-bottom: 5rem;

        @media screen and (max-width: 769px) {
            display: none;
        }
    }

    .chart-container-mobile{      
        
       margin: 0 1rem; 
       padding-bottom: 1rem;

       img{
        width: 100%;
       }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .story{
        background-image: url("/Multimedia/background.png");
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        justify-content: center;
       

        p{
            padding: 4rem 0;
            color: #000;
            text-align: center;
            font-size: 30px;
            font-weight: 400;

            @media screen and (max-width: 769px) {
                padding: 3rem 0;
                font-size: 16px;
                margin: 0 1rem; 
            }
        }
    }
    
    #marcas{
        padding: 5rem 0 2rem 0;
        background-color: #E6E6E6;
        
        h2{
            color: #302F2F;
            font-family: 'Montserrat', sans-serif;
            font-size: 60px;
            font-weight: 600;
            margin-bottom: 2rem;
            margin-bottom: 0px;
            margin-left: 5rem;

            span{
                color: #5330C1;
            }
        }  

        .logos{
            margin-top: 5rem;
            overflow: hidden;
            white-space: nowrap;
     
            .logo-slide{
                display: inline-block;
                animation: 60s slide infinite linear;
    
                .logo-background{
                    display: inline-block;
                    width: 200px;
                    height: 100px;
                    background-color: #ffff;
                    text-align: center;
                    margin: 0 10px;
    
                    img{
                        height: 100px;
                    }
                } 
            }
    
            @keyframes slide {
                from{
                    transform: translateX(0);
                }
                to{
                    transform: translateX(-100%);
                }
            }
    
            .logo-slide2{
                display: inline-block;
                animation: 60s slide2 infinite linear;
        
                .logo-background{
                    display: inline-block;
                    width: 200px;
                    height: 100px;
                    background-color: #ffff;
                    text-align: center;
                    margin: 0 10px;
    
                    img{
                        height: 100px; 
                    }
                }
            }
    
            @keyframes slide2 {
                from{
                    transform: translateX(-100%);
                }
                to{
                    transform: translateX(0%);
                }
            }
        } 
        
        .logos2{
            margin-top: 2rem; 
        }

        @media screen and (max-width: 769px) {

            padding: 2rem 0 1rem 0;

            h2{
                font-size: 18px;
                margin-left: 1rem;
            }

            .logos{
                margin-top: 2rem;

                .logo-background{
                    width: 100px !important;
                    height: 50px !important;
    
                    img{
                        height: 50px !important;
                    }
                }
            }
        }
    }
}